.col-md-4 {
    margin-bottom: 30px;
}

.card {
    padding: 30px;
    /* border: solid 1px rgba(0, 0, 0, 0.08); */
    cursor: pointer;
}

.card:hover {
    /* box-shadow: 0 0 12px 3px rgba(0, 0, 0, 0.08); */
}

.card-title {
    margin-top: 20px;
}

.card-text {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
}

.card-text .fa {
    font-size: 26px;
}

.avatarImage {
    width: 140px;
    margin: auto;
}

.avatarImage img {
    border: solid 6px transparent;
    border-radius: 50%;
}

.card:hover .avatarImage img {
    border-color: rgb(99, 204, 131);
}

.mybtn {
    border-radius: 25px;
}

/* 
@media (min-width: 1200px) {
    .container {
        max-width: 1040px;
    }
} */

#page-numbers {
    list-style: none;
    display: flex;
}

#page-numbers>li {
    margin-right: 0.3em;
    color: #338a5d;
    user-select: none;
    cursor: pointer;
    border: thin solid black;
    padding: 0 20px;
    border-radius: 50%;
}

/* * {
    overflow: scroll;
    overflow-x: hidden;
} */

::-webkit-scrollbar {
    width: 0px;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
}